
#made {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.made__vis {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: -100;
    transition: .3s opacity ease-in-out;   
}

.made__prose {
    /* max-width: 25rem; */
    padding: .75rem;
    z-index: 100;
    position: absolute;
    margin: 0 auto;   
}

.made__chart {
    position: relative;
    /* display: block; */
    margin: 0 auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
    width: 300px;
    height: 300px;    
}

@media only screen and (min-width: 768px) {
    #made {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    }
    #made > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    /* .made__vis {
        opacity: 1;
    } */
    .made__prose {
        position: relative;
        padding: 1.5rem;
        margin: 0;
    } 
    
}



