@font-face {
    font-family: "ITC Avant Garde Gothic";
    src: url(avantgardegothic.woff) format('woff'),
        url(avantgardegothic.woff2) format('woff2'),
        url(avantgardegothic.eot) format('embedded-opentype'),
        url(avantgardegothic.otf) format('opentype');
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Avant Garde Gothic", "Open Sans", Helvetica, Calibri, sans-serif;
}

/*#region containers */
.fullscreen-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#all-pages {
    position: relative;
    top: 0;
    transition: all 800ms ease-out;
}

/* #all-pages {
    position: relative;
    top: 0;
    transition: all 800ms ease;
} */


.page {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

/* aside {
	background-size: cover;
	background-attachment: fixed;
} */

aside .container {
    position: relative;
    overflow-y: scroll;
}

#all-pages .page:nth-child(1) {
    display: grid;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
        url(../img/bg/s/1.png) center / cover;
    background-attachment: fixed;
}

#all-pages .page:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
        url() center / cover;
    background-attachment: fixed;
}

#all-pages .page:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
        url() center / cover;
    background-attachment: fixed;
}

#all-pages .page:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
        url() center / cover;
    
    background-attachment: fixed;
}

#all-pages .page:nth-child(5) {
    /* background: url() center / cover; */
    background-color: white;
    background-attachment: fixed;
    
}

#all-pages .page:nth-child(6) {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url(../img/bg/s/5.png) center / cover;
    background-attachment: fixed;
}

#all-pages .page:nth-child(7) {
    /* background: url() center / cover; */
    background-color: white;
    background-attachment: fixed;
    z-index: 1;
}

#all-pages .page:nth-child(8) {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
        url(../img/bg/s/6.png) center / cover;
    background-attachment: fixed;
}

#all-pages .page:nth-child(9) {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
        url(../img/bg/s/6.png) center / cover;
    background-attachment: fixed;
}

#changingBG {
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
/* .backgroundImg_2 {


    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), center / cover;
    background-image: url(../img/bg/01.png);
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-transition: background-image 0.3s ease-in-out;
    -moz-transition: background-image 0.3s ease-in-out;
    -ms-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
}
.backgroundImg_3 {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
    background-image: url(../img/bg/08.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-image 0.3s ease-in-out;
    -moz-transition: background-image 0.3s ease-in-out;
    -ms-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
}
.backgroundImg_4 {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
    background-image: url(../img/bg/03.png);
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-transition: background-image 0.3s ease-in-out;
    -moz-transition: background-image 0.3s ease-in-out;
    -ms-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
} */

/*#endregion containers */

/*#region texts */
#headerText {
    grid-template-columns: 1fr;
    width: 45%;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    padding-bottom: 30px;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate3d(-50%, 0, 0);
    color: #EC694B;
}

.headerTitle {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 5em;
    line-height: 1.0;
    vertical-align: center;
    margin-bottom: 30px;
}

p.headerTip {
    font-family: ff-real-text-pro, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#intro_1_text,
#intro_2_text,
#intro_3_text,
#demand_intro_text,
#conclusion_1_text,
#conclusion_2_text {
    width: 26%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.95);
    color: #EC694B;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: start;
}

span.sup {
    color: #EC694B;
}

span.dem {
    color: #54AFAB;
}

/*#endregion texts */

/*#region back to top button */
#backToTop {
    position: fixed;
    bottom: 7%;
    right: 2.5%;
    width: 50px;
    height: 50px;
    margin: auto;
    opacity: 0.8;
    background-color: #EC694B;
    text-align: center;
    border-radius: 50%;
    transition: all 200ms ease;
}

.backToTop_arrow {
    transform: rotate(180deg);
}

#backToTop:hover {
    transform: scale(1.1);
}

.backToTop_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: #ffffff;
}

#backToTop p {
    opacity: 1;
    margin-top: 22px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #399793;
}

/*#endregion back to top button */



/*#region navigation dots */
.nav-dot-container {
    position: fixed;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

.nav-dot {
    width: 20px;
    height: 20px;
    padding: 5px 5px;
    margin: auto;
}

.nav-dot span {
    display: block;
    width: 7px;
    height: 15px;
    border-radius: 25%;
    background: #54AFAB;
    transition: all 100ms ease;
    margin: auto;
}

.nav-dot span:hover {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #EC694B;
}

.nav-dot.dot-active span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #EC694B;
}

/*#endregion navigation dots */

/*#region scroll anim */
.scroll {
    position: relative;
    display: flex;
    cursor: ns-resize;
}

.scroll-shape {
    position: relative;
    width: 45px;
    height: 75px;
    left: 50%;
    transform: translate(-50%, -25%);
}

.scroll-shape .scroll-animation {
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    -webkit-animation: ball-scroll 2.5s linear infinite;
    -moz-animation: ball-scroll 2.5s linear infinite;
    -ms-animation: ball-scroll 2.5s linear infinite;
    -o-animation: ball-scroll 2.5s linear infinite;
    animation: ball-scroll 2.5s linear infinite;
}

.scroll .scroll-msg {
    font-size: 0.8rem;
}

/*#endregion scroll anim */

/*#region mobile device style */
@media only screen and (max-width: 600px) {

    #headerText {
        grid-template-columns: 1fr;
        width: 67%;
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        padding-bottom: 30px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate3d(-50%, -50%, 0);
        color: #db5739;
    }

    .headerTitle {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 2.7em;
        font-weight: 600;
        line-height: 1.0;
        vertical-align: center;
        margin-bottom: 30%;
    }

    p.headerTip {
        font-family: ff-real-text-pro, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        color: #db5739d8;
    }

    .scroll {
        position: relative;
        text-align: center;
        display: block;
        cursor: ns-resize;
    }

    #intro_1_text,
    #intro_2_text,
    #intro_3_text,
    #demand_intro_text,
    #conclusion_1_text,
    #conclusion_2_text {
        width: 65%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 25px;
        background-color: rgba(253, 253, 253, 0.89);
        color: #db5739d8;
        box-shadow: 5px 4px 5px rgba(0, 0, 0, 0);
        border-radius: 4px;
        font-size: 1.2rem;
        text-align: start;
    }

    /*#region back to top button */
    #backToTop {
        position: fixed;
        bottom: 5%;
        right: 3%;
        width: 35px;
        height: 35px;
        margin: auto;
        opacity: 0.8;
        background-color: #EC694B;
        text-align: center;
        border-radius: 50%;
        transition: all 200ms ease;
    }

    .backToTop_arrow {
        transform: rotate(180deg);
    }

    #backToTop:hover {
        transform: scale(1.1);
    }

    .backToTop_container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #ffffff;
    }

    #backToTop p {
        opacity: 0;
        margin-top: 5px;
        font-size: 0.5rem;
        font-weight: 600;
        color: #399793;
    }

    /*#endregion back to top button */
}

/*#endregion mobile device style */

/*#region anim*/
@keyframes ball-scroll {
    0% {
        opacity: 1;
        top: 25%;
    }

    20% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 75%;
    }

    100% {
        opacity: 0;
        top: 25%;
    }
}

@-webkit-keyframes ball-scroll {
    0% {
        opacity: 1;
        top: 25%;
    }

    20% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 75%;
    }

    100% {
        opacity: 0;
        top: 25%;
    }
}

@-moz-keyframes ball-scroll {
    0% {
        opacity: 1;
        top: 25%;
    }

    20% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 75%;
    }

    100% {
        opacity: 0;
        top: 25%;
    }
}

@-ms-keyframes ball-scroll {
    0% {
        opacity: 1;
        top: 25%;
    }

    20% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 75%;
    }

    100% {
        opacity: 0;
        top: 25%;
    }
}

@-o-keyframes ball-scroll {
    0% {
        opacity: 1;
        top: 25%;
    }

    20% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 75%;
    }

    100% {
        opacity: 0;
        top: 25%;
    }
}

/*#endregion anim*/