#scrollableSection_supply,
#scrollableSection_demand {
    position: relative;
    background-color:rgba(0, 0, 0, 0.03);
    padding: 0;
    width: 100vw;
  }

  #scrollableSection_supply,
  #scrollableSection_demand {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  article {
    position: relative;
    padding: 0;
    /* max-width: 20rem; */
    margin: 0 auto;
  }

  figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;

    /* background-image: url("images/intro_1.png"); */

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-transition: background-image 0.3s ease-in-out;
    -moz-transition: background-image 0.3s ease-in-out;
    -ms-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
    
  }

  figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }


  .img_svg_supply {
    position: absolute;
    width: 45%; 
    max-width: 55rem;
    top: 50%;
    left: 72%;
    margin-right: -50%;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
  }

  .img_svg_demand {
    position: absolute;
    width: 38%; 
    max-width: 45rem;
    top: 50%;
    left: 72%;
    margin-right: -50%;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
  }

  .step {
    grid-template-columns: 1fr;
    width: 25%;
    min-width: 20rem;
    margin: 0 auto 2rem auto;
    color: #3b3b3b;
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin-left: 10%;
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step.is-active p {
    background-color: rgba(255, 255, 255, 0.95);
    color: #3b3b3b;
  }

  .step p {
    text-align: left;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.95);
  }